// colors
$green: #86C232;
$green-dark : #61892F;
$darkest : #222629;
$darker : #474B4f;
$dark :#6B6E70 ;
$borderColor : #f5f4f4;
$widget_link:#f44336;


// padding 
$size-sm:15px;
$size-md:30px;
$size-lg:45px;


//font-size

//letter-spacing
$letter-spacing:0.15em;
